.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

.counter{
  display: flex;
  flex-direction: row;
  justify-content: center;
 align-items: center;
 background-color: #fff;
 border-radius: 8px;
 box-shadow: 0 2px 12px rgba(0,0,0,0.1);
 padding: 20px;
}

.count{
  font-size: 5rem;
  font-weight: bold;
  margin: auto 20px;
  color: #333;
  text-align: center;
  width: 100%;
}
count::grammar-error{
  color: #000;
}

button{
  background-color: transparent;
   color:#333;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 1.5rem; 
  font-weight: bold;
  padding: 10px 20px;
  outline: none;
}

button:hover{
  background-color:aquamarine;
  color: #444;
}